<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyy.hytool">
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:name=".ToolGatherApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.HYTool">


        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />


        <activity
            android:name=".mvp.view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|adjustNothing" />

        <activity android:name=".mvp.view.LogInActivity" />
        <activity android:name=".mvp.view.avtivity.actvity_home_v1.SignInActivity" />
        <activity android:name=".mvp.view.avtivity.actvity_home_v3.txim.ContactAvtivity" />
        <activity android:name=".mvp.view.avtivity.actvity_home_v3.txim.FriendProfileActivity" />
        <activity android:name=".mvp.view.avtivity.actvity_home_v3.txim.ChatActivity" />

        
    </application>

</manifest>